#main-body {
  margin: auto;
  width: 100%;
}

.main-masonry-grid {
  /* Position (center on page) */
  margin-top: 1em;
  width: auto;

  /* Position (contents) */
  display: flex;

  @media (max-width: 800px) {
    margin-top: 0.5em; /* no glow border, so reduce */
  }
}

.masonry-grid-column {
  padding: 0.5em;

  @media (max-width: 800px) {
    padding: 0; /* no glow border, so reduce */
  }
}

