@import "tailwindcss";

@import "./grid.css";
@import "./sc-player.css";

@utility text-glow-* {
  text-shadow:
    0 0 5px --value([*]),
    0 0 10px --value([*]),
    0 0 15px --value([*]),
    0 0 20px --value([*]),
    0 0 30px --value([*]),
    0 0 50px --value([*]);
}

@utility text-glow-* {
  text-shadow:
    0 0 5px black,
    0 0 5px --value([*]),
    0 0 10px --value([*]),
    0 0 15px --value([*]),
    0 0 30px --value([*]);
}

/* General */

:root {
  --app-height: 100%;
  --border-radius: 20px;

  /* Colors */
  --soundcloud: rgb(242, 111, 35);
  --twitter: rgb(29, 161, 242);
  --instagram: rgb(193, 53, 132);
  --reddit: rgb(255, 86, 0);
  --facebook: rgb(66, 103, 178);
}

body {
  background-color: black;
  color: white;
  font-family: tahoma, sans-serif;
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  cursor: alias;
}

a:link,
a:visited {
  color: inherit;
}

.soundcloud {
  background-color: var(--soundcloud);
}

.twitter {
  background-color: var(--twitter);
}

.instagram {
  background-color: var(--instagram);
}

.reddit {
  background-color: var(--reddit);
}

.facebook {
  background-color: var(--facebook);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: darkcyan;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: cyan;
}
