@import "tailwindcss";

@theme {
  --color-soundcloud: rgb(242, 111, 35);
  --color-twitter: rgb(29, 161, 242);
  --color-instagram: rgb(193, 53, 132);
  --color-reddit: rgb(255, 86, 0);
  --color-facebook: rgb(66, 103, 178);
}

@utility text-glow-heavy-* {
  text-shadow:
    0 0 5px --value([*]),
    0 0 10px --value([*]),
    0 0 15px --value([*]),
    0 0 20px --value([*]),
    0 0 30px --value([*]),
    0 0 50px --value([*]);
}

@utility text-glow-med-* {
  text-shadow:
    0 0 5px black,
    0 0 5px --value([*]),
    0 0 10px --value([*]),
    0 0 15px --value([*]),
    0 0 30px --value([*]);
}

a {
  text-decoration: none;
  cursor: alias;
}

a:link,
a:visited {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: darkcyan;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: cyan;
}
