.track {
  position: relative;
  margin: 5px 10px;
  font-family: 'Outfit';

  .album-art {
    vertical-align: middle;
    align-self: center;
    height: 5em;
    border-radius: var(--border-radius);

    @media (max-width: 800px) {
      height: 4.7em;
    }
  }
}

.top-row {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  gap: 10px;

  .track-title-wrapper {
    display: flex;
    flex-direction: column;
    grid: 20px;
  }

  .track-title {
    font-size: 1.2em;
  }

  .track-subtitle {
    font-size: 1.2em;
    font-weight: bold;
    color: turquoise;
  }
}

.addl-info-row {
  margin-top: 0.2em;
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
  text-align: justify;
  color: grey;
  line-height: 1.1em;

  a {
    color: darkslateblue !important;
  }

  .fa {
    font-size: 0.8em;
  }
}
