.track {
  position: relative;
  margin: 5px 10px;
  font-family: 'Outfit';
}

.track-art-and-title {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  gap: 10px;
  margin-bottom: 2px;
  padding-bottom: 0px;

  .album-art {
    vertical-align: middle;
    align-self: center;
    height: 5em;
    border-radius: var(--border-radius);

    @media (max-width: 800px) {
      height: 4.7em;
    }
  }

  .track-title {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  .track-subtitle {
    font-size: 1.2em;
    font-weight: bold;
    color: turquoise;
  }
}

.track-addl-info {
  margin-bottom: 0em;
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
  text-align: justify;
  color: grey;
  line-height: 1.1em;

  a {
    color: darkslateblue !important;
  }

  .fa {
    font-size: 0.8em;
  }
}
