.tooltip {
  --tooltip-color: darkslateblue;
  position: relative;

  .tooltiptext {
    /* Position */
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 70%;

    /* Appearance */
    background-color: var(--tooltip-color);
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    line-height: 1.2em;

    &:hover .tooltiptext {
      visibility: visible;
    }

    /* Triangle */
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      border-width: 0.7em;
      border-style: solid;
      border-color: transparent transparent var(--tooltip-color) transparent;
    }
  }
}
